/* @font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic"),
    url(./fonts/CenturyGothic.ttf) format("truetype");
} */

/* body {
  margin-top: 50px !;
} */

#navigation {
  position: fixed;
  width: 100%;
  z-index: 1;
}
